p{
    background-color: #d7cdcc;
}
.getmusicul {
    position: relative;
    width: 550px;
    height: 250px;
    background-color: #d7cdcc;
    overflow-x: scroll;
    overflow-y: scroll;
    margin-left: 200px;
  }
