*{

}

header {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    text-decoration: none;
}
    h1{
    font-size: 5.3rem;
    margin-top:205px;
    margin-left: 0px;
    font-weight: bolder;
    color: whitesmoke;
    font-family: arial;
    }
  
  li{
    cursor: pointer;
    font-size: 20px;
    font-weight: lighter;
  }
  
  .flex-container{
    background-color: #492445 ;
    color: white;
    padding: 5%;
    margin: 0 1%;
    display: block;
    box-sizing: border-box;
  }


  .flex-container{
    margin: 0px auto;
    width: 60%;
    text-align: center;
    
  }
  .flex-container h3{
  color: rgb(167, 161, 161);
  flex-direction: column;
  }
  
