.flex-container {
    width: 29em;
    min-height: 27em;
    display: inline-flexbox;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color:#d7cdcc;
    box-shadow: 0 0 2px rgba(15, 15 , 15 0.28);
    position: relative;
    overflow: hidden;
    border: 2px solid #492445;
    padding:3%;
    margin: 0 auto;
}

.header {
    font-size: 24px;
    margin: 11px;
}
.content {
    position: absolute;
    display: flex;
    flex-direction: column;
}

    div{
    display:block;

    }
    .form-group {
        margin: auto ;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        color: #492525;
      }
      input {
        min-width: 13em;
        height: 35px;
        padding: 0px 20px;
        font-size: 18px;
        font-family: "Open Sans", sans-serif;
        background-color: white;
        border: 50%;
        border-radius: 40px;
        margin-bottom: 31px;
        transition: all 250ms ease-in-out;
        color:#492525;
        }
       
        button{
            padding: 5px;
            width: 100px;
           display: flex;
          justify-content: center;
            margin: 0;
            position: relative;
          top: 10%;
          left: 5%;
          font-size:18px;
            border: 2px solid #492445;
            background-color: whitesmoke;
            border-radius: 6px;
            color:#492445;
            transition: all 250ms ease-in-out;
            cursor:pointer;
        }
        h2{
            color:whitesmoke;
            font-size: 35px;
        } 
        ul{
            color:#492445;
        }
        p{
            color:#492445;
          }
          
        h3{
            color:white;
            
        }
        .footer {
            margin-top: 3em;
          }
        

          @media (max-width: 450px) {
            .flex-container {
                width: 23em;
          }
          h2{
            font-size: 1.0rem;
            } 
          
        }

