
html, body
{
  width: auto;
  height: auto;
  font-family: Helvetica,Arial,sans-serif;
  margin: 0;
  padding:0;
  line-height: 1.5;
  color: rgb(61, 58, 58);
  background-color: #391832;
  height: auto;
  text-align: center; 
}

 
#root
{
  width: auto;
  height: auto;
}

.App
{
  display: grid;
  grid-template-rows: 20% 60% 20%;
}

li{
  list-style: none;
  display: inline;
  padding: 15px;
  }

.menuul
{
  float: right;
  color:whitesmoke;
}

nav
{
width: 100%
}

